
{% extends 'core/base.html' %}
{% block title %}
{% endblock %}
{% block login %}
{% endblock %}
{% block logout %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block navbar2 %}
{% endblock %}
{% block slider %}
{% endblock %}
{% load static %}
{% block contenido %}
<br>
<form method="post">
  {% csrf_token %}
<h1>Desea eliminar {{object}} ?</h1>
<button  class="btn btn-danger btn-sm"
type="submit" name="button">Confirmar</button>
<a class="btn btn-success btn-sm"
href="{% url 'usuarios' %}">Cancelar</a>
</form>

{% endblock contenido %}
{% block footer %}
{% endblock %}





<