body {
    font-size: 15pt;
   /* text-align: center;*/
   background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#o{
 /* width: 175px;
  height: 120px;*/
  border-radius: 50px;
  
}
#o1{
  width:  75px;
  height: 60px;
  border-radius: 50px;
}
 .header {
   padding: 20px;
   display: flex;
   justify-content: center;
   align-content: center;
   height: 155px;
  background: url(./images/dummy-header.jpg) no-repeat center top; 
   background-size: cover;
   background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
 }
.login{
  text-align: center;
}
 
 .navbar{
   background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding: 10px 5px;
   text-align: center;
 }
 .navbar2{
   background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   padding: 10px;
 }
 .navbar a{
   text-decoration: none;
   text-transform: uppercase;
   color: whitesmoke;
   padding: 15px 5px;
 }
 .navbar2 a{
   text-decoration: none;
   color: whitesmoke;
   padding: 10px 5px;
   
 }
  
 p{
     margin-bottom:1px;
    
   }
 
     footer{
       text-align: left;
        border: dashed 2px;
       font-size: 16px;
       color: whitesmoke;
     
       padding: 40px 20px ;
       background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
     } 
     
 
}
#r{
  color: whitesmoke;
  padding: 20px;
  
}
.log{
  color: black;
  text-decoration: none;
  text-align: center;
}

/*resetear margenes y padding de todos los elementos

* {
    margin:0;
    padding: 0;
}
*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bx-wrapper {
    background-color: #e51e3f!important;
    border:none!important;
    box-shadow: none!important;
    background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.galeria img {
    width: auto;
    height: auto;
}
.map img{
  width: 10px;
  height: 10px;
}

.landing {
    background-color: #e51e3f;
    width: 100%;
    height: 520px;
    background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.imagen_landing {
    width: 900px;
    height: 400px;
    margin:auto;
    display: block;
}

.eslogan {
    color: white;
    margin-left: 5px;
    font-size: 35px;
    float: left;
}

.redes_sociales {
    /*float: left;*/
    margin-right: 0px;
    padding: 15px;
}

.redes_sociales li {
    display: inline-block;
  /*  margin-left: 1px;*/
}

.redes_sociales li img {
    height: 50px;
    width: 50px;
}


.contenido {
    padding: 15px;
    background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    text-align: center;
} 
.conteiner{
  text-align: center;
}
/*media query para dispositivos moviles*/
@media (max-width:1024px) {
    .imagen_landing {
        width: 100%;
        height: auto;
    }

    .eslogan {
        text-align: center;
        float:none;
    }

    .redes_sociales {
        float:none;
        text-align: center;
        margin:0;
        margin-top:20px;
    }


    .landing {
        height: auto;
    }
    
    
    
}




input{
  width: 100%;
  margin-bottom: 18px;
  text-align: center;
}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"]{
  border: none;
  margin-bottom   : 1px ;
  background: whitesmoke;
  height: 40px;
 
  font-size:  16px;
}

input[ type="submit"] {
  border: none;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  
}

 input[ type="submit"]: hover {
  cursor: puntero;
  
}

#b{
  background: red;
}
.c{
  color: whitesmoke;
  
}
.ga{
  height: 255px;
  width: 355 px;
}



.btcmppwb {

	cursor: pointer!important;

}

.binptpgwb {
	background-repeat: no-repeat; background-size: 100% 100%;
}

.tcs {
	 text-shadow: 2px 2px #1a1919;
}

.iconosvg {
	width:14px;
	height:14px;
}

.alert alert-dismissible alert-success{
  text-align: center;
}